<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CIVA - Cadastrar Gestor Nacional</title>

        <link rel="shortcut icon" href="../public/img/favicon-gs.svg" type="image/x-icon">

        <!-- Google Font: Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- Font Icons Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
        rel="stylesheet">

        <!-- Estilo icones -->
        <link rel="stylesheet" href="../public/plugins/fontawesome-free/css/all.min.css">
        
        <!-- Estilo pagina -->
        <link rel="stylesheet" href="../public/dist/css/adminlte.min.css">
        <script src="js.js" defer></script>
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar --------------------------------------------->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="" class="nav-link">Cadastrar Gestor Nacional</a>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar ------------------------------------------------------->

            <!-- MENU Main Sidebar Container ------------------------------------>
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="./index.html" class="brand-link">
                  <img src="./../public/img/favicon-gs.svg" alt="AdminLTE Logo" class="brand-image img-circle"
                    style="opacity: .8">
                  <span class="brand-text font-weight-light">CIVA</span>
                </a>
          
                <!-- Sidebar -->
                <div class="sidebar">
                  <!-- Sidebar user panel (optional) -->
                  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                      <img src="./../public/img/no-user.svg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                      <a href="#" class="d-block">Frank Sinatra</a>
                    </div>
                  </div>
          
                  <!-- Sidebar Menu -->
                  <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                      <!-- ITENS DO MENU -->
                      <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                          <i class="nav-icon fas fa-home"></i>
                          <p>
                            Home
                          </p>
                        </a>
                      </li>
                      <!-- ITEM GERENCIAR USUARIO DO MENU -->
          
                      <li class="nav-item menu-open">
                        <a href="#" class="nav-link">
                            <!-- <i class="nav-icon fas fa-user-friends"></i> -->
                            <p>Suporte Civa
                                <i class="right fas fa-angle-left"></i>
          
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>
                              Portador CIVA
                              <i class="right fas fa-angle-left"></i>
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                            <li class="nav-item">
                              <a href="./consultar-portador.html" class="nav-link">
                                <i class="fas fa-search nav-icon"></i>
                                <p>Consultar Portador</p>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="./cadastrar-portador.html" class="nav-link">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>Cadastrar Portador</p>
                              </a>
                            </li>
                          </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                      <li class="nav-item ">
                          <a href="#" class="nav-link">
                              <i class="fas fa-user-friends nav-icon"></i>
                              <p>
                                  Gerente
                                  <i class="right fas fa-angle-left"></i>
                              </p>
                          </a>
                          <ul class="nav nav-treeview">
                              <li class="nav-item">
                                  <a href="./consultar-gerente.html" class="nav-link">
                                      <i class="fas fa-clipboard-check nav-icon"></i>
                                      <p>Consultar Gerente</p>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="./cadastrar-gerente.html" class="nav-link">
                                      <i class="fas fa-user-plus nav-icon"></i>
                                      <p>Cadastrar Gerente</p>
                                  </a>
                              </li>
          
                          </ul>
                      </li>
                  </ul>
                    <ul class="nav nav-treeview">
                      <li class="nav-item menu-open">
                          <a href="#" class="nav-link">
                              <i class="fas fa-user-friends nav-icon"></i>
                              <p>
                                  Gestores nacionais
                                  <i class="right fas fa-angle-left"></i>
                              </p>
                          </a>
                          <ul class="nav nav-treeview">
                              <li class="nav-item">
                                  <a href="./consultar-gestor-nacional.html" class="nav-link">
                                      <i class="fas fa-clipboard-check nav-icon"></i>
                                      <p>Consultar Gestor nacional</p>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="./cadastrar-gestor-nacional.html" class="nav-link active">
                                      <i class="fas fa-user-plus nav-icon"></i>
                                      <p>Cadastrar Gestor nacional</p>
                                  </a>
                              </li>
          
                          </ul>
                      </li>
                  </ul>
                  <ul class="nav nav-treeview">
                    <li class="nav-item ">
                        <a href="#" class="nav-link">
                            <i class="fas fa-user-friends nav-icon"></i>
                            <p>
                                Supervisor
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="./consultar-supervisor.html" class="nav-link">
                                    <i class="fas fa-clipboard-check nav-icon"></i>
                                    <p>Consultar supervisor</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./cadastrar-supervisor.html" class="nav-link">
                                    <i class="fas fa-user-plus nav-icon"></i>
                                    <p>Cadastrar supervisor</p>
                                </a>
                            </li>
          
                        </ul>
                    </li>
                </ul>
                
                        <ul class="nav nav-treeview">
                            <li class="nav-item ">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-syringe nav-icon"></i>
                                    <p>
                                        Unidades
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./consultar-unidades.html" class="nav-link">
                                            <i class="fas fa-search nav-icon"></i>
                                            <p>Consultar unidade </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./cadastrar-unidade.html" class="nav-link">
                                            <i class="fas fa-mouse-pointer nav-icon"></i>
                                            <p>Cadastrar Unidade</p>
                                        </a>
                                    </li>
          
                                </ul>
                            </li>
                        </ul>
          
          
                    <!-- ITEM RELATORIO USUARIO DO MENU -->
                    <li class="nav-item">
                      <a href="./relatorio.html" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                          Relatorio
                        </p>
                      </a>
                    </li>
          
                    <!-- ITEM PERFIL DO MENU -->
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>
                          Perfil
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="./meus-dados.html" class="nav-link">
                            <i class="fas fa-address-card nav-icon"></i>
                            <p>
                              Meus dados
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="./idioma.html" class="nav-link">
                            <i class="fas fa-language nav-icon"></i>
                            <p>
                              Mudar Idioma
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="./manual.html" class="nav-link">
                            <i class="fas fa-question-circle nav-icon"></i>
                            <p>
                              Manual CIVA
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="./solicitacoes.html" class="nav-link">
                            <i class="fas fa-inbox nav-icon"></i>
                            <p>
                              Solicitações pendentes
                            </p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="fas fa-sign-out-alt nav-icon"></i>
                            <p>
                              Sair
                            </p>
                          </a>
                        </li>
                      </ul>
                    </li>
                    </ul>
                  </nav>
                  <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar ------------------------------------------------------>
              </aside>

            <!-- TERMINO DO MENU LATERAL -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Cadastrar Gestor Nacional</h1>
                            </div>
                            <!-- /.col -->

                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="./index.html">Voltar</a></li>
                                    <li class="breadcrumb-item active">Cadastrar Gestor Nacional</li>
                                </ol>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- content -->
                    <div class="content">
                        <div class="container-fluid">
                            <!-- container-fluid -->
                            <div class="row">
                                <!-- row -->
                                <div class="col-md-12">
                                    <!-- col -->
                                    <div class="card card-primary">
                                        <!-- cards -->
                                        <div class="card-header">
                                            <!-- /.cardheader -->
                                            <h3 class="card-title">Dados Supervisor</h3>
                                        </div>
                                        <!-- /.cardheader -->
                                        <!-- Incio do form -->
                                        <form action="#" id="form-page" method="post" novalidate="novalidate">
                                            <div class="p-2">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="name">Nome</label>
                                                        <input type="text" class="form-control" id="name" placeholder="Ex :Maria" name="nome">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="surname">Sobrenome</label>
                                                        <input type="text" class="form-control" id="surname" placeholder="Ex: Almeida" name="sobrenome">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="date-birth">Data de Nascimento</label> 
                                                        <input type="date" class="form-control" id="date-birth" value="29/07/1980" name="datadenascimento">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="nationality">Nacionalidade</label> 
                                                        <select class="form-control" id="nationality" name="nacionalidade">
                                                            <option value="" selected disabled>Selecionar</option>
                                                            <option value="Brasil">Brasil</option>
                                                            <option value="Estados Unidos">Estados Unidos</option>
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Inglaterra">Inglaterra</option>
                                                            <option value="Japão">Japão</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="tipo-doc">Tipo de Documento</label> 
                                                        <select class="form-control" id="tipo-doc" name="tipo-doc">
                                                            <option value="" selected disabled>Selecionar</option>
                                                            <option value="CPF">CPF</option>
                                                            <option value="CRM">CRM</option>
                                                            <option value="Passaporte">Passaporte</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="doc1">Documentação 1</label> 
                                                        <input type="text" class="form-control" id="doc1" placeholder="102.256.356-76" name="doc1">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="tipo-doc2">Tipo de Documento</label>
                                                        <select class="form-control" id="tipo-doc2" name="tipo-doc2">
                                                            <option value="" selected disabled>Selecionar</option>
                                                            <option value="CPF">CPF</option>
                                                            <option value="CRM">CRM</option>
                                                            <option value="Passaporte">Passaporte</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="doc2">Documentação 2 (Opcional)</label>
                                                        <input type="text" class="form-control" id="doc2" placeholder="7529-RJ" name="doc2">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="tipo-doc3">Tipo de Documento</label>
                                                        <select class="form-control" id="tipo-doc3" name="tipo-doc3">
                                                            <option value="" selected disabled>Selecionar</option>
                                                            <option value="CPF">CPF</option>
                                                            <option value="CRM">CRM</option>
                                                            <option value="Passaporte">Passaporte</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="doc3">Documentação 3  (Opcional)</label>
                                                        <input type="text" class="form-control" id="doc3" placeholder="BR12345" name="doc3">
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="country">País</label> 
                                                        <input type="text" class="form-control" id="country" name="pais">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="postal-code">CEP</label> 
                                                        <input type="text" class="form-control" id="postal-code" name="cep" placeholder="22758-006">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-6">
                                                        <label for="logrd-name">Endereço</label> 
                                                        <input type="text" class="form-control" id="logrd-name" name="endereco" placeholder="Av Rio Branco">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="logrd-num">Numero</label>
                                                        <input type="text" class="form-control" id="logrd-num" name="numero" placeholder="60">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-12">
                                                        <label for="complemento">Complemento</label>
                                                        <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Rio Branco">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="municipio">Municipio</label>
                                                        <input type="text" class="form-control" id="municipio" name="municipio">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="bairro">Bairro</label>
                                                        <input type="text" class="form-control" id="bairro" name="bairro">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label for="state">Estado</label>
                                                        <input type="text" class="form-control" id="state" name="estado">
                                                    </div>
                                                </div>                                        
                                                <div class="row">
                                                    <div class="form-group col-xl-6">
                                                        <label for="telf">Contato</label>
                                                        <input type="number" class="form-control" id="telf" name="telf" placeholder="21 9 8788-9894">
                                                    </div>
                                                    <div class="form-group col-xl-6">
                                                        <label for="email">Email</label>
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="maria1612_almeida@gmail.com">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.form ending -->
                                    </div>
                                    <!-- /.cards -->
                                </div>
                            </div>


                            <div class="col-12 mb-4">
                                <button type="submit" class="btn btn-primary btn-lg" form="form-page">Cadastrar</button>
                            </div>


                            <!-- /.row -->
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
            <!-- modal -->
            <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cadastro realizado com sucesso!</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Finalizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- modal erro -->
            <div class="modal fade" id="modal-default2" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Todos os dados obrigatorios devem ser preenchidos!</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Finalizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- Main Footer -->
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- Default to the left -->
                <strong><img src="../public/img/icon-civa-footer-darkblue.svg" alt="logo civa" width="70px">&nbsp by <a href="https://www.forsoftacademy.com.br/" target="_blank">Forsoft Academy</a></strong>
            </footer>

        </div>



        <!-- ./wrapper -->

        <!-- REQUIRED SCRIPTS -->

        <!-- jQuery -->
        <script src="../public/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- jquery-validation -->
        <script src="../public/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="../public/plugins/jquery-validation/additional-methods.js"></script>
        <!-- AdminLTE App -->
        <script src="../public/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../public/dist/js/demo.js"></script>
        
        <script>
            $(function () {
                $('.select2').select2()
            });
        </script>

        <script rel="text/javascript" src="../public/dist/js/cadastrar_supervisor.js"></script>

    </body>

</html>